html, body, .container {height: 100%;width: 100%; background-color: #062863;}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.piggy {
    margin-top: 500px;
    height: 10%;
    margin: 20px;
    text-align: center;
   }
.innerDiv {
    height: 500%;
    background-color: #ffffff;
    width: 23%;
    margin-bottom: 10px;
    padding: 40px;
    border-radius: 3% 3% 3% 3%;
}
.headings {
    margin-top: 1px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    margin-bottom: -5px;
    text-align: center;
    font-family: 'Segoe UI';
    color: #060c63d8;
}
h4 {
    margin-top: 30px;
    margin: 10px;
    text-align: center;
    font-weight: 1 ;
    color: gray;
}
h5 {
    margin-bottom: 30px;
    text-align: center;
    color: white;  
}
input {
padding: 20px;
width: 95%;
margin-bottom: 10px;
align-content: center;
outline: none;
border: solid;
border: 0px;
border-color: grey;
background-color: #EDF2F7 
}
label {
    font-size: 10pt;
    font-weight: bold;
}
.button {
padding:20px 15px;
margin-top: 5px;
color: white;
background-color: #061763dc;
border: 0px;
border-top-right-radius: 10px 15%;
border-bottom-left-radius: 0px 0%;
border-top-left-radius: 10px 15%;
border-bottom-right-radius: 10px 15%;
}
select {
padding: 20px;
width: 95%;
margin-bottom: 20px;
align-content: center;
outline: none;
border: solid;
border: 0px;
border-color: grey;
background-color: #EDF2F7
}