.container, .intro {
    width: 50%;
    margin: 40px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
input[type=text], textarea {
padding: 20px;
width: 95%;
margin-bottom: 10px;
align-content: center;
outline: none;
border: solid;
border: 0px;
border-radius: 4px;
border-color: grey;
background-color: #EDF2F7 
}
select{
    padding: 20px;
    width: 99%;
    margin-bottom: 10px;
    align-content: center;
    outline: none;
    border: solid;
    border-radius: 4px;
    border: 0px;
    border-color: grey;
    background-color: #EDF2F7 
    }   
}
label {
    font-size: 50pt;
    font-weight: bold;
}
input[type=submit]{
    padding: 20px;
    width: 25%;
    margin-bottom: 10px;
    align-content: center;
    outline: none;
    border: solid;
    border-radius: 4px;
    border: 0px;
    border-color: grey;
    background-color: rgb(247, 237, 239);  
    cursor:  pointer; 
}
textarea{
    height: 200px;
}